<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>signboard</title>
    <link rel="stylesheet" href="css.css" />
  </head>
  <body>
    <div id="app">
      <div class="settings" v-show="mode === 'settings'">
        <label>
          <span>Text: </span>
          <textarea v-model="text.value"></textarea>
        </label>
        <label>
          <span>Foreground: </span>
          <input type="color" v-model="fg.value" />
        </label>
        <label>
          <span>Background: </span>
          <input type="color" v-model="bg.value" />
        </label>
        <label>
          <span>Font: </span>
          <input v-model="fontFamily.value" />
        </label>
        <label>
          <span>Font size: </span>
          <input v-model="fontSize.value" />
        </label>
        <button @click="mode = 'display'">Show</button>
      </div>
      <div
        class="display"
        v-show="mode === 'display'"
        :style="{ background: bg.value, color: fg.value, fontFamily: fontFamily.value, fontSize: fontSize.value }"
        @click="mode = 'settings'"
      >
        {{text.value}}
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
    <script>
      const localStorageValue = (key, defaultValue) =>
        new Vue({
          data: {
            value: defaultValue
          },
          created() {
            const value = localStorage.getItem(key);
            if (value != null) this.value = value;
          },
          watch: {
            value(value) {
              localStorage.setItem(key, value);
            }
          }
        });
      new Vue({
        el: "#app",
        data: {
          text: localStorageValue("signboardText", "Enter something"),
          fg: localStorageValue("signboardForegroundColor", "#ffffff"),
          bg: localStorageValue("signboardBackgroundColor", "#000000"),
          fontFamily: localStorageValue(
            "signboardFontFamily",
            "system-ui, Helvetica, sans-serif"
          ),
          fontSize: localStorageValue("signboardFontSize", "200px"),
          mode: "settings"
        }
      });
    </script>
  </body>
</html>
