<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>signboard</title>
    <link rel="stylesheet" href="css.css" />
  </head>
  <body>
    <div id="app">
      <div class="settings" v-show="mode === 'settings'">
        <label>
          <span>Text: </span>
          <textarea v-model="text"></textarea>
        </label>
        <label>
          <span>Foreground: </span>
          <input type="color" v-model="fg" />
        </label>
        <label>
          <span>Background: </span>
          <input type="color" v-model="bg" />
        </label>
        <label>
          <span>Font: </span>
          <input v-model="fontFamily" />
        </label>
        <label>
          <span>Font size: </span>
          <input v-model="fontSize" />
        </label>
        <button @click="mode = 'display'">Show</button>
      </div>
      <div
        class="display"
        v-show="mode === 'display'"
        :style="{ background: bg, color: fg, fontFamily: fontFamily, fontSize: fontSize }"
        @click="mode = 'settings'"
      >
        {{text}}
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          text: localStorage.signboardText || "Enter something",
          fg: localStorage.signboardForegroundColor || "#ffffff",
          bg: localStorage.signboardBackgroundColor || "#000000",
          fontFamily:
            localStorage.signboardFontFamily ||
            "system-ui, Helvetica, sans-serif",
          fontSize: localStorage.signboardFontSize || "200px",
          mode: "settings"
        },
        watch: {
          text(value) {
            localStorage.signboardText = value;
          }
        }
      });
    </script>
  </body>
</html>
